header {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

a {
  position: relative;
  top: -30px;
  right: 30px;
}

.top-right {
  position: relative;
  top: -30px;
  left: 30px;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 30px;
  padding: 10px;
}

.instructions {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: rgb(63, 7, 115);
  font-style: bold;
  color: white;
  padding: 10px;
  border-radius: 12px;
}

.hide {
  display: none;
}

#question {
  text-align: center;
  padding: 200px;
}

#answers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.initials {
  display: block;
  margin: 0 auto;
}
#highscores {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#high {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 300px;
}

.baboon {
  position: relative;
  top: 30px;
  right: 70px;
  background-color: rgb(63, 7, 115);
  font-style: bold;
  color: white;
  border-radius: 12px;
}
